.album-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

/* Phones */
@media (max-width: 900px) {
        .album-wrapper {
            /* display: block; */
            flex-direction: column;
            align-items: center;
            max-width: 300pt;
        }
}