.badge-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link {
    color: #F1C40F; /*new colour*/
    font-weight: bold;
}
.link span {
    color:#aaaaaa; /*originalcolour*/
}