.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200pt;
    width: 300pt;
    background: "white";
    margin-left: 50px;
    margin-bottom: 50px;
}

.project-name {
    text-align: center;
}