@media (min-width: 720px) {
    .bio-pane {
        display: flex;
        flex: 2pt;
        flex-direction: column;
        justify-content: flex-start;
        background: #084B8A;
        color: white;
    }
}

/* Phones */
@media (max-width: 900px) { 
    /* styles */
    .bio-pane {
        display: flex;
        flex: 2pt;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        background: #084B8A;
        color: white;
      }
}