.projects-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ECF0F1;
    flex: 5;
    min-width: 300pt;
    overflow-y: scroll;
}

/* Phones */
@media (max-width: 900px) {
    .projects-pane {
        width: 100%;
        overflow-y: auto;
    }
}