.app-wrapper {
  display: flex;
  border-radius: 3pt;
  height: 100%;
}

html {
  height: 100%;
}

/* Phone */
@media (max-width: 900px) {
      .app-wrapper {
        /* display: flex; */
        overflow-y: scroll;
        display: block;
        overflow-x: hidden;
    }
}